#header
{
    /* background:url(../../Images/Background.jpg); */
    background: linear-gradient(135deg, #03045E 25%, #00B4D8 75%);
    width: 100%;
    text-align: center;
    padding: 10% 0 10%;


}


/* animation fade in */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* dashboard styling */
.dashboard
{
    border-style: solid;
    border-color: black;
    background-color: rgba(230, 230, 230,0.4);
    border-radius: 25px;
    margin: auto 15%;
    animation: fadein 1.0s ease-in;

}

/* dashboard styling for h1 */

.dashboard h1
{
    color: black;
}

/* css rules for the container housing our buttons */
.link-container
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "link link link link";
    padding: 5% 0 5%;
    
}


/* styling for anchor tags */
.link{
    border-radius: 10px;
    margin: 0 5%;
    padding: 2% 0;
    text-decoration: none;
    color:rgb(0, 0, 0);
    background-color: hsl(208, 100%, 97%,.65);
    /* opacity: 0.75;  */
    /* width: 100%;    */
}

/* styling for anchor tags on hover */
.link:hover
{
    background-color: blue;
    color: aliceblue;
    transition: 0.3s;
}





/* box styles and keyframes */
.box{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    opacity: 0.2;
    animation: floating 10s infinite;
  }

  .reverse-floating{
    animation: floating 10s infinite;
    animation-direction: reverse;
  }
  
  #box1{
   left:15%;
   top:200px;
  }
  
  #box2{
    left: 35%;
    top: 100px;
  }
  #box3{
    left: 60%;
    top:400px;
  }
  #box4{
      left: 1%;
      top: 50%;
    
  }
  
  
  
  
  
  /* keyframe for screensize 1000px and up */
  /* 0% transform the y axis 0% */
  /* 50% transform y axis 100% */
  /* 100% transform y axis back to 0% */
  @keyframes floating{
    0%{
      transform: translateY(0%)
    }
   50%{
      transform: translateY(100%)
      
    }
  
    100%{
      transform: translateY(0%)
      
    }
  }



/* keyframes for screensize below 1000 px */
@keyframes emerge{

}





/* MEDIA QUERIES */
/* add a media query to rearramge the grid when you size to mobile */

  @media (max-width: 750px) {
  


    .link-container
    {
        display: grid;
        grid-template-rows: auto
        auto auto auto;
        grid-template-columns: auto;
        grid-template-areas: "link" "link"
                            "link" "link";
        padding: 0 5%
    }
    .link
    {
        margin:2% 0;
    }
    
}

@media (max-width: 1655px)
{

}

/* media query for the animation */
@media (max-width: 990px){
    .box{
        visibility: hidden;
    }
}


/* set emerge animation here  */
@media (max-width: 1000px){

}