@use "./grid.scss";

.progress-bar-col {
    flex-basis: 100%;
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
}

.contact-info{
  @include grid.row;
  @include grid.justify-center;
  gap: 10px;

}

@media screen and (max-width: 750px) {
    .progress-bar-col {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
