@use "./grid.scss";

.blog-card-group {
    @include grid.row;
    @include grid.justify-center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 2%;
}

@media screen and (max-width: 1200px) {
    .blog-card-group {
        gap: 1rem;
    }
}

@media screen and (max-width: 673px) {
    .blog-card-group {
        @include grid.justify-center;
        margin: auto 10px;
    }
}
