@import "./grid.scss";

.blog-card-group {
    flex-wrap: wrap;
    @include row;
    gap: 10px;
}

@media screen and (max-width: 673px) {
    .blog-card-group {
        @include justify-center;
    }
}
