@use "./grid.scss";

.blog-card-container {
    width: 100%;
    max-width: 300px;
    min-height: 500px;
    //max-height: 500px;
    border: solid 1px rgba(147, 112, 219, 0.4);
    box-shadow: 0 8px 32px 0 rgba(79, 172, 254, 0.1);
    border-radius: 15px;
    position: relative;
    color: #ffffff;


    a {
        color: #ffffff;
        text-decoration: none;
        transition: 0.2s ease-in;
    }

    .hover-message {
        @include grid.column;
        @include grid.justify-center;
        align-items: center;
        position: absolute;
        border-radius: 15px;
        width: 100%;
        height: 100%;

        &:hover {

            background-color: rgba(0, 0, 0, 0.5);
            transition: background-color .3s;
        }

    }

    .blog-card {
        height: 100%;
        padding: 0 0.5rem;
        @include grid.column;
        @include grid.justify-evenly;
        .blog-card-title {
            a {
                text-decoration: none;
            }
        }

        .blog-card-img {
            img {
                max-height: 200px;
                width: 100%;
            }
        }
    
        .blog-card-text {
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
        }            
    }
}
