@use "./grid.scss";

$font-color: #ffffff;
.work-experience-container {
    @include grid.column;
    padding: 0 2%;
    .work-experience-header {
        @include grid.row;
        @include grid.justify-between;
        .company-name {
            color: $font-color;
            font-size: 2.5rem;
        }

        .company-logo {
            margin-block-start: 1em;
            margin-block-end: 1em;
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }

    .position-date-container {
        color: $font-color;
        @include grid.row;
        @include grid.justify-between;

        .position {
            font-size: 1.5rem;
        }

        .date {
            font-size: 1.5rem;
        }
    }

    .description-container {
        font-size: 1rem;
        color: $font-color;
    }
}
