@import "./grid.scss";

.work-experience-container {
    @include column;
    padding: 0 2%;
    .work-experience-header {
        @include row;
        @include justify-between;
        .company-name {
            font-size: 2.5rem;
        }

        .company-logo {
            margin-block-start: 1em;
            margin-block-end: 1em;
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }

    .position-date-container {
        @include row;
        @include justify-between;

        .position {
            font-size: 1.5rem;
        }

        .date {
            font-size: 1.5rem;
        }
    }

    .description-container {
        font-size: 1rem;
    }
}
