@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin justify-center {
    justify-content: center;
}
@mixin justify-start {
    justify-content: flex-start;
}

@mixin justify-between {
    justify-content: space-between;
}

@mixin justify-evenly{
    justify-content: space-evenly;
}

@mixin align-start {
    align-items: flex-start;
}

@mixin align-end {
    align-items: flex-end;
}

@mixin align-center {
    align-items: center;
}

@mixin align-stretch {
    align-items: stretch;
}

@mixin align-baseline {
    align-items: baseline;
}

@mixin align-self-start {
    align-self: flex-start;
}

@mixin align-self-end {
    align-self: flex-end;
}

@mixin align-self-center {
    align-self: center;
}

@mixin align-self-stretch {
    align-self: stretch;
}

@mixin align-self-baseline {
    align-self: baseline;
}

@mixin align-self-auto {
    align-self: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-between{
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.align-baseline {
    align-items: baseline;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-auto {
    align-self: auto;
}

