@import 'grid.scss';
.links{
    p{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .links-wrapper{
        @include row;
        @include justify-center;
        align-items: center;
        gap: 1.5rem;
    }
}


@media screen and (max-width: 750px){
        .links{
            .links-wrapper{
                @include column;
            }


    }

}
