@use 'grid.scss';
.links{
    p{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .links-wrapper{
        @include grid.row;
        @include grid.justify-center;
        align-items: center;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 516px){
  .links{
    padding-bottom: 15px;
    padding-left: .5rem;
  }
}