@use "grid.scss";

.link-card {
  border-radius: 10px;
  text-align: center;
  //padding: 0.5rem;
  // min-height: 75px;
  max-height: 75px;
  // min-width: 300px;
  max-width: 300px;
  transition: 0.2s ease-in-out;

  a {
    text-decoration: none;
    color: #ffffff;

    div {
      @include grid.row;
      @include grid.justify-center;
      align-items: center;
      gap: 1rem;
      transform: translateY(5px);
    }

    img {
      width: 35px;
      height: 35px;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

