.modal-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgb(220, 220, 220, 0.5);
    z-index: 1000;

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 600px;
        padding: 20px;
        background-color: rgba(61, 59, 59, 0.9);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        z-index: 1000;
        transition:
            width 0.3s ease,
            height 0.3s ease;

        .close-btn {
            height: 30px;
            width: 30px;
            border: solid 2px #ffffff;
            padding: 0.35rem;
            background-color: #000000;
            border-radius: 20px;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(10px, -5px);
            color: #ffffff;
        }

        .modal-content {
            max-height: 70vh;
            overflow-y: auto;
        }
    }
}
