.menu-collapse-enter {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}

.menu-collapse-enter-active {
    max-height: 500px;
}

.menu-collapse-exit {
    max-height: 500px;
}

.menu-collapse-exit-active {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}
