@use './grid.scss';
.progressbar-container{
    @include grid.row;
    gap: 15px;
    flex-wrap: wrap;
    width: auto;
    margin: auto 2%;
}

@media screen and (max-width: 750px){
.progressbar-container{
        @include grid.column;
    }
}
