@use "./grid.scss";

.project-card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 2%;
}

@media screen and (max-width: 1200px) {
    .project-card-group {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 847px) {
    .project-card-group {
        grid-template-columns: 1fr;
        margin: auto 10px;
    }
}
