@import "./grid.scss";

.project-card-container {
    position: relative;
    min-height: 300px;
    width: 100%;
    max-width: 400px;
    border: solid 1px #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    a {
        color: #ffffff;
        text-decoration: none;
        transition: 0.2s ease-in;
        font-size: 2.0rem;
    }

    .hover-message {
        @include column;
        @include justify-center;
        align-items: center;
        position: absolute;
        border-radius: 15px;
        width: 100%;
        height: 100%;

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            transition: background-color 0.3s;
        }
    }

    .project-card {
        padding: 0.5rem;
        @include column;

        .project-card-body {
            li {
                margin-bottom: 3px;
            }
        }
    }
}

@media screen and (max-width: 847px) {
    .project-card-container {
        max-width: none;
    }
}
