@use "./grid.scss";

.project-card-group {
    flex-wrap: wrap;
    @include grid.row;
    gap: 10px;
}

@media screen and (max-width: 847px) {
    .project-card-group {
        @include grid.justify-center;
    }
}
