@import "./grid.scss";

.tech-stack-container {
    text-align: center;
    overflow: hidden;

    p {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .carousel-container {
        animation: carousel 60s infinite linear;
        display: inline-block;
        @include row;
        @include justify-center;

        &:hover {
            animation-play-state: paused;
        }

        .tech-stack {
            @include row;
            @include justify-center;
        }
    }

    &:before {
        position: absolute;
        bottom: 110px;
        left: 0;
        width: 145px;
        height: 200px;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
        content: " ";
        z-index: 1;
    }

    &:after {
        position: absolute;
        bottom: 110px;
        right: 0;
        width: 145px;
        height: 200px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
        content: " ";
    }
}

@keyframes carousel {
    100% {
        transform: translateX(-100%);
    }

    0% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 650px) and (min-width: 601px) {
    .tech-stack-container {

        &:before,
        &:after {
            bottom: 100px;
        }
    }
}
@media screen and (max-width: 600px) and (min-width: 551px) {
    .tech-stack-container {

        &:before,
        &:after {
            bottom: 80px;
        }
    }
}
@media screen and (max-width: 550px) and (min-width: 451px) {
    .tech-stack-container {

        &:before,
        &:after {
            bottom: 60px;
        }
    }
}
@media screen and (max-width: 450px) {
    .tech-stack-container {

        &:before,
        &:after {
            background: none;
        }
    }
}
