.work-card-group {
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 100vh;
        background-color: #006ddf;
        left: calc(50% - 1px);
    }
}

@media screen and (max-width: 930px) {
    .work-card-group {
        padding: 0;
        margin-left: 20px;
        &::before {
            left: 10px;
        }
    }
}
